#admin-menu {
    border-bottom: 2px solid #0a246e;
    min-height: 30px;
    margin: 0px;
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: #b6c9ff;
}

.admin-menu-item {
    display: inline-block;
    margin: 4px 12px 0px;
    color: #0a246e;
    padding: 2px 6px;
}

.admin-menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}