.act-header {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
}

.act-body {
  padding: 12px 36px;
  font-size: 20px;
}

.sponsor-container {
    margin: 16px;
    margin-top: 100px;
    text-align: center;
}

.sponsor-container h1 {
    color: #0a246e;
    text-align: center;
    margin: 40px 0px 15px;
}

.sponsor {
    width: 50%;
    min-width: 200px;
    height: auto;
    background-color: #0a246e;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    display: block;
    margin: 10px auto;
}

.sponsor:hover {
    background-color: #b6c9ff;
    color: #0a246e;
    cursor: pointer;
}