body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Amatic SC', cursive; */
}

.headline {
    color: #0a246e;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.delete-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 10px;
}

.delete-icon:hover {
    background-color: #dedede;
    color: red;
    cursor: pointer;
}