body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Amatic SC', cursive; */
}

.headline {
    color: #0a246e;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.delete-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 10px;
}

.delete-icon:hover {
    background-color: #dedede;
    color: red;
    cursor: pointer;
}

.subtext {
    color: #3e3e3e;
    font-style: italic;
}

.input-error {
    border: 2px solid red !important;
}

.hightlight-text {
    font-size: 20px;
    background: linear-gradient(to right, #b6c9ff, #b6fff2, #00ff8e);
    color: #0a246e;
}

.edit-input {
    font-size: 24px;
    border: none;
    border-bottom: 1px solid black;
    max-width: 275px;
}

.edit-input:focus {
    outline: none;
    border-bottom: 2px solid #0a246e;
}