header {
    height: 55px;
    background-color: #0a246e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #b6c9ff;
    box-sizing: border-box;
}

.logo {
    width: 45px;
    height: auto;
    margin: 4px;
    position: fixed;
}

.title {
    display: inline-block;
    margin: 0;
    vertical-align: text-bottom;
    left: 60px;
    position: fixed;
}

.title a {
    color: white;
    font-size: 32px;
    text-decoration: none;
    line-height: 60px;
}

.menu {
    position: fixed;
    right: 10px;
    top: 20px;
}

.menu-item {
    display: inline-block;
    margin: 0;
}

.menu-item a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-size: 21px;
}

.menu-item a:hover {
    background-color: #b6c9ff;
    color: #0a246e;
    cursor: pointer;
}