.admin-list-object {
    width: 75%;
    margin: 8px auto;
    position: relative;
}

.admin-list-header {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.admin-list-item {
    background-color: #cacaca;
    padding: 6px;
    font-size: 18px;
    box-sizing: border-box;
}

.admin-list-item:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.admin-add-btn {
    width: 75%;
    max-width: 300px;
    padding: 6px;
    margin: 10px auto;
    box-shadow: 0 4px 12px #0000008f;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin-bottom: 32px;
    border: 2px solid #0a246e;
    background: #d2d6ef;
    color: #0a246e;
}

.admin-add-btn a {
    text-decoration: none;
    color: #0a246e;
}

.admin-delete-btn {
    border: none;
    background: transparent;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    padding: 5px 20px;
}

.admin-add-btn:hover {
    cursor: pointer;
    background: rgb(222, 225, 241);
    box-shadow: 0 6px 12px #0000008f;
}

.admin-delete-btn:hover {
    cursor: pointer;
    background: rgba(190, 190, 190, 0.51);
}

.admin-add-btn:focus {
    outline: none;
}

.admin-blurred-div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 100;
    position: fixed;
    padding-top: 30vh;
}

.admin-input {
    width: 300px;
    font-size: 18px;
    padding: 4px;
    display: block;
    margin: 10px auto;
}

.success {
    color: #55ce55;
    font-size: 24px;
}

.error {
    color: #e22424;
    font-size: 24px;
}

.close {
    color: white;
    text-decoration: underline;
    font-size: 24px;
}

.close:hover {
    cursor: pointer;
}