.acts-header {
  margin: 0px auto;
}

.list-object {
  width: 75%;
  margin: 0px auto;
  position: relative;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: min-content;
  width: 75%;
  min-width: 300px;
  margin: 20px auto;
}

.act-item:nth-child(even),
.list-item:nth-child(even),
.list-object:nth-child(even) .list-item {
  background-color: #0a246e;
  color: white;
}

.act-item:nth-child(odd),
.list-item:nth-child(odd),
.list-object:nth-child(odd) .list-item {
  background-color: white;
  color: #0a246e;
}

.list-item:nth-child(even):hover,
.list-object:nth-child(even) .list-item:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(15, 44, 125);
}

.list-item:nth-child(odd):hover,
.list-object:nth-child(odd) .list-item:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(226, 226, 226);
}

.list-header {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0px;
  padding: 16px;
}

.act-item,
.list-item {
  padding: 6px;
  font-size: 18px;
  box-sizing: border-box;
  border-bottom: 2px solid #0a246e;
  margin: 0px auto;
}

.act-wrapper {
  width: 80%;
  max-width: 500px;
  margin: auto;
  text-align: left;
  padding: 10px 5px;
  box-sizing: border-box;
}

.act-wrapper:hover {
  background-color: #dddddd !important;
}

.act-wrapper:nth-child(odd) {
  background-color: #cacaca;
}

.act-name {
  margin: 0px;
  grid-column-start: 1;
  text-align: start;
  margin-bottom: 20px;
  background-color: #0a246e;
  color: white;
  padding: 0px 5px;
  font-weight: normal;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.act-act {
  margin: 0px;
  grid-column-start: 2;
  text-align: start;
  border-bottom: 1px solid #0a246e;
  margin-bottom: 20px;
  vertical-align: middle;
  padding: 0px 10px;
}

.back-btn {
  margin: 5px auto 10px;
  width: 165px;
  color: white;
  background-color: #0a246e;
}

.back-btn:hover {
  cursor: pointer;
  background-color: black;
}

@media screen and (max-width: 650px) {
  body .list-object {
    width: 90%;
  }
}
